* {
  margin: 0px;
  padding: 0px;
}
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
    transform: translateY(30%);
  }
  100% {
    opacity:1;
    transform: translateY(0);
 }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body {
  min-height: 100%
  font-size: 120%;
  font-family: gill sans, sans-serif;
  background: #495867;
  background-image: linear-gradient(#2A9D8F, #495867);
  background-attachment: fixed;
}

.header {
  width: 35%;
  margin: 50px auto 0px;
  color: white;
  background: #323F4C;
  text-align: center;
  border: 1px solid #2A9D8F;
  border-bottom: none;
  
  padding: 20px;

    
}
form, .content {
  width: 35%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #2A9D8F;
  background: white;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #323F4C;
  border: none;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
